$background-color:#4282A6;
$font-size: 20px;
$title-color:beige;
$tr-par:white;
$tr_impar:darkgrey;
$dto:#A67532;
$navbar:#F5B863;
$body-font: Arial, Helvetica, sans-serif;
$primary-color: #2497B5;
$accent-color: #3EB39F;
$default-border-radius: 5px;